body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    background: #FFFFFF;
}

.title {
    font-family: Playfair Display;
    font-style: normal;
    height: 18px;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    color: #000000;
}

.header {
    text-align: center;
    padding: 60px 0 47px;
}

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    color: #595959;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

.link:hover {
    color: #FF7931;
}
.header-link{
    margin-top: 46px;
}

.promo {
    background: url(../img/Hotel-11.jpg) no-repeat 50% 50%;
    width: 100%;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.promo-img {
    margin-top: 46px;
    margin-bottom: 32px;
}

.promo-title {
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 139px;
}

.promo-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 48px;
}

.section-title {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-top: 44px;
}

.section-title.section-title_ab {
    margin-top: 0;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: middle;
}

.card1 {
    text-decoration: none;
    flex-basis: 32%;
    min-width: 300px;
    overflow: hidden;
    margin-bottom:10px;
}

.card {
    background: #FFFFFF;
}

.card1:hover {
   color: #FF7931;
}

.card1:hover .card-title {
    color: #FF7931;
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 10px;
    object-fit: cover;
}

.card-info {
    font-family: 'Roboto', serif;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    object-fit: cover;
}

.abonement {
    background: radial-gradient(circle, #ffffff 353px, #F7F7F7 353px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 36px 0;
    margin-top: 20px;
}

.abonement-container {
    padding-top: 28px;
}

.abonement_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
    max-width: 370px;
    text-align: center;
}

.abonement-title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 23px;
    margin-bottom: 10px;
}

.abonement-text {
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    padding-bottom: 21px;
    font-weight: 400;
    box-sizing: border-box;
}

.abonement_part span {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.button {
    width: 170px;
    height: 47px;
    margin: 0 auto;
    background-color: #FF7931;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.button__image {
    vertical-align: middle;
}

.button:hover {
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    background-color: rgb(224, 129, 77);
}

.footer {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0px;
    background: #575757;
    margin-top: 50px;
}

.footer-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 26px;
}

.footer-link {
    color: #FFFFFF;
    margin-top: 32px;
}

.line {
    align-items: center;
    width: 100%;
    max-width: 1170px;
    height: 0px;
    margin-top: 46px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.social-links {
    margin-top: 35px;
    margin: 0 auto;
    margin-bottom:20px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    width: 47px;
    height: 47px;
    margin-left: 12px;
    margin-top: 42px;
}

.social-link:hover {
    box-shadow: 0px 3px 5px 0px #FF7931;
}

.inst {
    background: #FFFFFF url(../img/icons_2.svg) no-repeat 50% 50%;
}

.fb {
    background: #FFFFFF url(../img/facebook_icon.svg) no-repeat 50% 50%;
}

.twitter {
    background: #FFFFFF url(../img/twitter_icon.svg) no-repeat 50% 50%;
}

@media(max-width:1302px){
    .container{
        max-width: 900px;
    }
    .link{
        font-size: 14px;
    }
    .card1{
        flex-basis: 49%; 
     }
     .promo-title{
        font-size: 68px;  
     }
}
@media(max-width:950px){
    .container{
        max-width: 750px;
    }
    .promo-title{
        font-size: 62px;  
    }
}
@media(max-width:768px){
    .container{
        max-width: 750px;
    }
    .card1{
        flex-basis: 85%; 
     }
    .nav{
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 16px;

     }
    .link{
        font-size: 14px;
        padding-bottom:10px;
    }
    .promo-title{
        font-size: 50px;
        margin-block-end: 100px;  
    }
    .cards{
       justify-content: center;
   }
    .promo-text{
      font-size: 12px;
   }
    .title{
       margin-bottom:50px;
   }
   .promo-text{
    margin-block-end: 30px;
   }
}
   @media(max-width:450px){
    .promo-title{
        font-size: 45px;
        margin-block-start: 50px;
        margin-block-end: 50px;
    }
    .promo-img{
        display: none;
    }
    
}
}